.navigeringsKnappKonteiner {
  margin-top: 5rem;
  min-width: 17rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.navigeringsKnappKonteiner > Button {
  min-width: 10rem;
}
