.veilederPanel {
  width: 100%;
  padding: 0;
  text-align: left;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.bunnMargin {
  margin-bottom: 1.2rem;
}

.posterKonteiner {
  text-align: left;
  width: 100%;
}

.posterKonteiner ul {
  margin: 0 auto 2rem auto;
}
