.veilederPanel {
  width: 100%;
  padding: 0;

  @media (max-width: 768px) {
    width: 80%;
  }
}

.veilederPanel ul {
  padding-left: 1.5rem;
}

.bunnMargin {
  margin-bottom: 1.2rem;
}

.veilederPanelPoster {
  text-align: left;
  width: 100%;
}

.veilederPanelPoster ul {
  margin: 0.5rem auto 2rem auto;
  padding-left: 1.5rem;
}
