.menyElement {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid var(--a-gray-300);
  border-left: 1px solid var(--a-gray-300);
  border-right: 1px solid var(--a-gray-300);
}

.menyElement:focus {
  outline: none;
  background-color: var(--a-blue-500);
  color: #fff;
}

.menyElement:hover {
  outline: none;
  background-color: var(--a-blue-500);
  color: #fff;
  cursor: pointer;
}

.språkListe {
  padding-left: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  margin-top: 0;
}

.språkListe:hover,
:focus {
  outline: none;
}

.språkListe li {
  list-style: none;
}
