.fyllSide {
  height: 30rem;
  padding: 0.5rem;
  display: grid;
  align-items: center;
}

.innholdKonteiner {
  max-width: 37.5rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  @media (min-width: 768px) {
    width: 37.5rem;
  }
}

.personvernerklaeringLink {
  margin-bottom: 5rem;
}

.samtykkePanelTittel {
  margin-bottom: -3.5rem;
  text-align: left;
  min-width: 100%;
}
