.sentrerTekst {
  text-align: center;
}

.fyllSide {
  height: 30rem;
  padding: 0.5rem;
  display: grid;
  align-items: center;
}

.innholdKonteiner {
  max-width: 37.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;

  @media (min-width: 768px) {
    width: 37.5rem;
  }
}

.personvernerklaeringLink {
  margin-top: 15rem;
}
